# ignore everything since we're in root directory
*
*/**

# ignore these files in ALL repos
*.swp
*.swo
*.pyc

# track these files in root
!.bash_aliases
!.git-prompt.sh
!.gitignore
!.nanorc
!.vimrc
!README.md
!peter.vimrc
!/.atom/
!/.atom/*
!/install.bash
!/.tmux.conf
