*~
*.pyc
.~lock*
/ME495/HW3/**
Courses/**
Desktop/**
Downloads/**
Hackathon/**
HackerRank/**
Kinect/**
LCTHW/**
Music/**
Pictures/**
Videos/**
examples.desktop
gglcodechallenge.py
nifty_nodes/**
portfolio/**
sketchbook/**
workspace/**
.a*
.A*
.b*
.B*
.c*
.C*
.d*
.D*
.e*
.E*
.f*
.F*
.ga*
.gc*
.ge*
.gim*
.gitk*
.gn*
.gt*
.G*
.h*
.H*
.i*
.I*
.j*
.J*
.k*
.K*
.l*
.L*
.m*
.M*
.N*
.o*
.O*
.p*
.P*
.q*
.Q*
.r*
.R*
.s*
.S*
.t*
.T*
.u*
.U*
.V*
.w*
.W*
.x*
.X*
.y*
.Y*
.z*
.Z*
