# ignore everything since we're in root directory
*
*/**

# and now unignore these files in root
!.bash_aliases
!.git-prompt.sh
!.gitignore
!.gitignore_global
!.nanorc
!.vimrc
!README.md
!peter.vimrc
!/.atom/
!/.atom/**
!/install.bash
!/setup.bash
!/.tmux.conf
!/.vim/
!/.vim/**
