"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "b6e702c4-c042-4969-869e-1a75691421db"
  "tree-view": {}
  welcome:
    showOnStartup: false
editor:
  softWrap: true
